body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    
}

header{
    background-color: #181818;
    padding: 1.5vw 5vw;
}

p{
    margin: 0;
}

.header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list a{
    text-decoration: none;
    color: #FFFFFF;
}

.list{
    display: flex;
}

.list ul{
    display: flex;
    list-style: none;
}

.list li{
    margin-left: 56px;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}

.list a:hover {
    text-decoration: underline;
}

.button-menu {
    margin-left: 56px;
    background-color: #FFFFFF;
    border-radius: 14px;
    width: 10rem;
    padding: 15px;
    align-items: center;
    cursor: pointer;
}

.button-menu p {
    text-align: center;
    margin: 0;
    color: #000000;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}

.button-menu a {
    text-decoration: none;
}

.background{
position: relative;
}

.background img {
    display: block;
    width: 100%;
    height: auto;
    pointer-events: none;
}

.content-text{
    position: absolute;
    bottom: 6vw;
    left:50%;
    transform:translate(-50%, -50%);
}

.content-text h1{
    font-weight:unset;
    color:white; 
    text-align: center; 
    margin: 0;
    line-height: 3.6875rem;
    font-size: calc(54px + 10 * (100vw/1440));
}

.content-text h2{
    font-weight:unset;
    color:#C0C0C0; font-size: 0.9em;
    text-align: center;
    margin: 0;
    letter-spacing: 2px;
    line-height: 1.3rem;
    font-size: 14px;
    font-size: calc(14px + 0 * (100vw/1440));
}

.content-text h3{
    font-weight:unset;
    color:#C0C0C0; 
    margin: 0; 
    text-align: center; 
    line-height: 1.3rem; 
    margin-top: 18px;
    font-size: calc(14px + 4 * (100vw/1440));
}

.list-img{
    position: absolute;
    bottom: 10vw;
    right: 3rem;
}

.text-p-card h1{
    font-weight:unset;
    color: white;
    text-align: center;
    font-size: 2.2rem;
    line-height: 1rem;
}

.text-p-card p{
    color: #C0C0C0;
    text-align: center;
    font-size: 1.5rem;
    line-height:2rem;
}

.list-card{
    padding:40px;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card-items{
    position: relative;
    margin: 16px;
    margin-bottom: 16px;
}

.text-card{
    position:absolute;
    bottom: 30px; 
    left: 30px;
    right: 40px; 
    color: aliceblue; 
}

.text-card h1{
    font-size: calc(14px + 1 * (100vw/1440));
    color: #FFFFFF;
    font-weight:unset;
    letter-spacing: 2px;
    line-height: 20px;
}

.text-card h2{
    font-size: calc(14px + 1 * (100vw/1440));
    color: #C0C0C0;
    font-weight:unset;
    line-height: 20px;
}

.content-button{
    position: relative;
}

.button-text{
    position: absolute; 
    bottom: 15px; 
    left:40px; 
    color: black;
}

.text h1,h2{
    font-weight:unset;
    text-align: justify;
    color:#C0C0C0; font-size: 0.9em;
    text-align: left;
    margin: 0;
    letter-spacing: 2px;
    line-height: 1.3rem;
    font-size: 14px;
    font-size: calc(14px + 0 * (100vw/1440));
}

.text{
    position: absolute;
    right: 60px;
    bottom: 35%;
}

.list-img-2{
    position: absolute;
    bottom: 2vw;
    right: 3rem;
}

@media screen and (max-width:1000px) {

    .card-items{
    width: 100%;
}

.content-text{
    position: absolute;
    bottom: 6vw;
    width: 40rem;
    left:50%;
    transform:translate(-50%, -50%);
}

.img-card{
    width: 100%;
}

.text-p-card h1{
    font-size: 4rem;
}

.text-card h1{
    font-size: calc(50px + 1 * (100vw/1440));
}

.text-card h2{
    line-height: 35px;
    font-size: calc(25px + 1 * (100vw/1440));
}

.container-button img{
    width: 40%;
}

.button-text{
    position: absolute; 
    bottom: 35px; 
    left:120px; 
    color: black;
    font-size: 1.8rem;
}

.text h1,h2{
    color:#C0C0C0;
    text-align: left;
    margin: 0;
    letter-spacing: 2px;
    line-height: 1.6rem;
    font-size: calc(20px + 0 * (100vw/1440));
}

.text{
    position: absolute;
    right: 60px;
    bottom: 35%;
}
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-text-photo h1{
    font-weight:unset;
    color:#C0C0C0;
    display: inline;
    text-align: left;
    letter-spacing: 2px;
    line-height: 1.6rem;
    font-size: calc(14px + 2 * (100vw/1440));
}

.container-text-photo h2{
    font-weight:unset;
    display: inline;
    color:white;
    text-align: left;
    line-height: 1.6rem;
    font-size: calc(30px + 2 * (100vw/1440));
}

.container-text-photo h3{
    font-weight:unset;
    display: inline;
    color:#C0C0C0;
    text-align: left;
    line-height: 1.6rem;
    font-size: calc(14px + 2 * (100vw/1440));
}

.container-img img{
    width: 100%;
    height: auto;
}

.container-text-photo{
    margin-top: 10rem;
    margin-left: 100px;
    margin-bottom: 5rem;
    width: 40rem;
}

.button-text-photo{
    position: absolute;
    bottom: 15px;
    left: 40px;
}

.container-button-photo{
    position: relative;
}

@media screen and (max-width:1470px) {
    
    .container-img{
        width: 100%;
        position: relative;
    }

    .container-text-photo{
        justify-content: center;
        position: absolute;
        z-index: 1;
        background-color: rgba(14, 14, 14, 0.7);
        padding: 20px;
        border-radius: 20px;
        align-items: center;
        margin-left: 100px;
    }

    .container-text-photo h1{
        font-weight:unset;
        color:#C0C0C0;
        display: inline;
        letter-spacing: 2px;
        line-height: 2.8rem;
        font-size: calc(20px + 2 * (100vw/1440));
    }
    
    .container-text-photo h2{
        font-weight:unset;
        display: inline;
        color:white;
        line-height: 2.8rem;
        font-size: calc(40px + 2 * (100vw/1440));
    }
    
    .container-text-photo h3{
        font-weight:unset;
        display: inline;
        color:#C0C0C0;
        line-height: 2.8rem;
        font-size: calc(20px + 2 * (100vw/1440));
    }
}

.heading{
    margin-top: 100px;
}


.heading h1{
    font-weight:unset;
    line-height: 30px;
    font-size: 40px;
    color: white;
}

.heading h2{
    font-weight:unset;
    line-height: 30px;
    font-size: 24px;
}

.container-clients{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}






