body{
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    
}

header{
    background-color: #181818;
    padding: 1.5vw 5vw;
}

.header-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list a{
    text-decoration: none;
    color: #FFFFFF;
}

.list{
    display: flex;
}

.list ul{
    display: flex;
    list-style: none;
}

.list li{
    margin-left: 56px;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}

.list a:hover {
    text-decoration: underline;
}

.button-menu {
    margin-left: 56px;
    background-color: #FFFFFF;
    border-radius: 14px;
    width: 10rem;
    padding: 15px;
    align-items: center;
    cursor: pointer;
}

.button-menu p {
    text-align: center;
    margin: 0;
    color: #000000;
    font-size: 1.1rem;
    font-family: 'Poppins', sans-serif;
}

.button-menu a {
    text-decoration: none;
}

.background{
position: relative;
}

.background img {
    display: block;
    width: 100%;
    height: auto;
    pointer-events: none;
}

.content-text{
    position: absolute;
    bottom: 6vw;
    left:50%;
    transform:translate(-50%, -50%);
}

.content-text h1{
    font-weight:unset;
    color:white; 
    text-align: center; 
    margin: 0;
    line-height: 3.6875rem;
    font-size: calc(54px + 10 * (100vw/1440));
}

.content-text h2{
    font-weight:unset;
    color:#C0C0C0; font-size: 0.9em;
    text-align: center;
    margin: 0;
    letter-spacing: 2px;
    line-height: 1.3rem;
    font-size: 14px;
    font-size: calc(14px + 0 * (100vw/1440));
}

.content-text h3{
    font-weight:unset;
    color:#C0C0C0; 
    margin: 0; 
    text-align: center; 
    line-height: 1.3rem; 
    margin-top: 18px;
    font-size: calc(14px + 4 * (100vw/1440));
}

.list-img{
    position: absolute;
    bottom: 10vw;
    right: 3rem;
}

.text-p-card h1{
    font-weight:unset;
    color: white;
    text-align: center;
    font-size: 2.2rem;
    line-height: 1rem;
}

.text-p-card p{
    color: #C0C0C0;
    text-align: center;
    font-size: 1.5rem;
    line-height:2rem;
}

.list-card{
    padding:40px 136px ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-items{
    position: relative;
    margin: 16px;
    margin-bottom: 16px;
}

.text-card{
    bottom: 30px; 
    left: 30px;
    right: 45px; 
    color: aliceblue; 
    position:absolute;
}

.text-card h1{
    font-size: calc(20px - 4 * (100vw/1440));
    color: #FFFFFF;
    font-weight:unset;
    letter-spacing: 2px;
    line-height: 20px;
}

.text-card h2{
    font-size: calc(20px - 4 * (100vw/1440));
    color: #C0C0C0;
    font-weight:unset;
    line-height: 20px;
}



